.cup {
    background-image: url('../images/coffee-cup.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}