.swiper {
    &-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    &-wrapper {
        height: 100%;
        width: auto;
        display: flex;
        position: relative;
    }

    &-slide__img {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: auto;
            max-width: calc(100vw - 20px);
            max-height: 90vh;
            border-radius: 10px;
            box-shadow: $drop-shadow;
        }
    }

    &-slide {
        min-width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        overflow-y: scroll;
    }
}